/* CSS Stylesheet */

body {
	min-height: 100%;
    background-color: #ccc;
}

h1,h2,h3,h4,h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
        color: #000;
}

#form {
	padding: 50px;
	border: 1px solid #fff;
	border-radius: 25px;
	background-color: #fff;
	color: #181818;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	margin-left: 25%;
	margin-right: 25%;
    margin-top:10%;
    line-height: 1.6;
}

span {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.55rem;
        color: #66c2ff;
}


